.app__header {
  background-color: var(--color-black);
}

.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  text-transform: capitalize;
  font-size: 90px;
  letter-spacing: 0.04em;
  line-height: 120px;
}

.app__wrapper__img {
  display: block;
  text-align: end;
}

.app__wrapper__img img {
  width: 80%;
}

/* @media  screen and (max-width: 2000px) {
    
} */

@media screen and (max-width: 1150px) {
  .app__wrapper__img {
    margin-top: 5rem;
    text-align: center;
  }

  .app__wrapper__img img {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .app__header-h1 {
    font-size: 15vw;
    line-height: 72px;
  }
}

@media screen and (max-width: 450px) {
}
